<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/notes" method="post">
        <label for="msg">
            Enter your msg:
            <input type="text" name="msg">
        </label><br>
        <label for="key">
            Enter your key
            <input type="text" name="key">
        </label> <br>

        <label for="choice">
            Store<input type="radio" name="choice" id="store" value="store"> <br>
            read <input type="radio" name="choice" id="store" value="read">
        </label> <br>




        <button type="submit">Submit</button>
    </form>
</body>
</html>